{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Eventos Formativos - UNISON</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
    <!--CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="flex-center-login bg-blue">
        <div class="container">
            <div class="title">Registro</div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">{{form.first_name.label}}</span>
                        {{form.first_name}}
                    </div>
                    <div class="input-box">
                        <span class="details">{{form.last_name.label}}</span>
                        {{form.last_name}}
                    </div>
                    <div class="input-box">
                        <span class="details">{{form.username.label}}</span>
                        {{form.username}}
                    </div>
                    <div class="input-box">
                        <span class="details">{{form.email.label}}</span>
                        {{form.email}}
                    </div>
                    <div class="input-box">
                        <span class="details">{{form.password1.label}}</span>
                        {{form.password1}}
                    </div>
                    <div class="input-box">
                        <span class="details">{{form.password2.label}}</span>
                        {{form.password2}}
                    </div>
                    <div class="input-box">
                        <span class="details">{{form.rol.label}}</span>
                        {{form.rol}}
                    </div>
                </div>
                <p id="messages" style="background-color: #cdcdcd;">{{form.errors}}</p>
                <div class="button form-content input-box">
                    <input type="submit" value="Registro">
                </div>
                <div class="text login-text">Ya tienes una cuenta? <a href="{% url 'login' %}"> Inicia Sesión</a></div>
            </form>
        </div>
    </div>
</body>